body {
  font-family: 'Lato', sans-serif;
  color:#aaa;
  background-color:#212F3C;
  font-weight: 300;
}

a { color: #666;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px solid rgba(255,255,255,0.3); }

a:hover { color: #44bbcc;
		border-bottom: 1px solid rgba(255,255,255,1); }



.text-muted {
  color: #BCBBBB;
}
.text-thin {
  font-weight: 100;
}

.title-super {
  font-size: 60px;
}

.title-logo {
  margin-top: 20px;
}

.cursor {
   cursor: pointer;
}
